<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prova"
        tools:targetApi="31">
        <activity
            android:name=".questao10"
            android:exported="false" />
        <activity
            android:name=".questao9"
            android:exported="false" />
        <activity
            android:name=".questao8"
            android:exported="false" />
        <activity
            android:name=".questao7"
            android:exported="false" />
        <activity
            android:name=".questao6"
            android:exported="false" />
        <activity
            android:name=".questao5"
            android:exported="false" />
        <activity
            android:name=".questao4"
            android:exported="false" />
        <activity
            android:name=".questao3"
            android:exported="false" />
        <activity
            android:name=".resultado"
            android:exported="false" />
        <activity
            android:name=".questao2"
            android:exported="false" />
        <activity
            android:name=".questao1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>